<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="{% static 'css/static1.css' %}">
</head>
<body>
    <p>shubham created is very diicuty in django in new member </p>
    <img src="{% static 'images/bg1.jpg'%}" alt="">
    <img src="{% static 'images/bg1.jpg'%}" alt="">
    <img src="{% static 'images/bg1.jpg'%}" alt="">
</body>
</html>